/Debug/
/WarGame-Cards/.vs/WarGame-Cards/v16
/WarGame-Cards/x64/Debug
/OneMillion/.vs/OneMillion/v16
/OneMillion/Debug
/OneMillion/x64/Debug
/Mapping/.vs/Mapping/v16
/Mapping/x64/Debug
/Casting/.vs/Casting/v16
/Casting/Debug
/Casting/x64/Debug
/Traders/.vs/Traders/v16
/Traders/Debug
Traders/Traders.exe
Traders/Traders.ilk
Traders/Traders.obj
Traders/Traders.pdb
Traders/vc140.pdb
WarGame-Cards/src/vc140.pdb
WarGame-Cards/src/WarGame-Cards.exe
WarGame-Cards/src/WarGame-Cards.ilk
WarGame-Cards/src/WarGame-Cards.obj
WarGame-Cards/src/WarGame-Cards.pdb
ResultsTypeExperiment/results.exe
ResultsTypeExperiment/results.ilk
ResultsTypeExperiment/results.obj
ResultsTypeExperiment/results.pdb
ResultsTypeExperiment/vc140.pdb
